=begin
#Policy API

#This API manages interactions with the policy management system.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.9

=end

### MONKEY PATCH ####
#
#  This dumb code gen tool doesnt generate the options mapping I needed for header_params....
#

require 'uri'

module PolicyAPI
  class DriverAssignmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new driver assignment
    # @param policy_activity_id Policy Activity Id
    # @param [Hash] opts the optional parameters
    # @option opts [DriverAssignment] :driver_assignment Driver Assignment
    # @return [DriverAssignment]
    def create(policy_activity_id, opts = {})
      data, _status_code, _headers = create_with_http_info(policy_activity_id, opts)
      data
    end

    # Create a new driver assignment
    # @param policy_activity_id Policy Activity Id
    # @param [Hash] opts the optional parameters
    # @option opts [DriverAssignment] :driver_assignment Driver Assignment
    # @return [Array<(DriverAssignment, Fixnum, Hash)>] DriverAssignment data, response status code and response headers
    def create_with_http_info(policy_activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DriverAssignmentsApi.create ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling DriverAssignmentsApi.create"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/driverassignments'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'driver_assignment'])
      auth_names = opts[:auth_names] || ['Bearer']

      # return_type
      return_type = opts[:return_type] || 'DriverAssignment'

      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DriverAssignmentsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(policy_activity_id, driver_assignment_id, opts = {})
      delete_with_http_info(policy_activity_id, driver_assignment_id, opts)
      nil
    end

    # Deletes Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(policy_activity_id, driver_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DriverAssignmentsApi.delete ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling DriverAssignmentsApi.delete"
      end
      # verify the required parameter 'driver_assignment_id' is set
      if @api_client.config.client_side_validation && driver_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'driver_assignment_id' when calling DriverAssignmentsApi.delete"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/driverassignments/{driverAssignmentId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'driverAssignmentId' + '}', driver_assignment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DriverAssignmentsApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment Id
    # @param [Hash] opts the optional parameters
    # @return [DriverAssignment]
    def get(policy_activity_id, driver_assignment_id, opts = {})
      data, _status_code, _headers = get_with_http_info(policy_activity_id, driver_assignment_id, opts)
      data
    end

    # Gets a Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(DriverAssignment, Fixnum, Hash)>] DriverAssignment data, response status code and response headers
    def get_with_http_info(policy_activity_id, driver_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DriverAssignmentsApi.get ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling DriverAssignmentsApi.get"
      end
      # verify the required parameter 'driver_assignment_id' is set
      if @api_client.config.client_side_validation && driver_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'driver_assignment_id' when calling DriverAssignmentsApi.get"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/driverassignments/{driverAssignmentId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'driverAssignmentId' + '}', driver_assignment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DriverAssignment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DriverAssignmentsApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get All Driver Assignments for a Policy Activity
    # @param policy_activity_id Policy Activity Id
    # @param [Hash] opts the optional parameters
    # @return [Array<DriverAssignment>]
    def get_all(policy_activity_id, opts = {})
      data, _status_code, _headers = get_all_with_http_info(policy_activity_id, opts)
      data
    end

    # Get All Driver Assignments for a Policy Activity
    # @param policy_activity_id Policy Activity Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DriverAssignment>, Fixnum, Hash)>] Array<DriverAssignment> data, response status code and response headers
    def get_all_with_http_info(policy_activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DriverAssignmentsApi.get_all ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling DriverAssignmentsApi.get_all"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/driverassignments'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api_special(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DriverAssignment>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DriverAssignmentsApi#get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update A Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment Id
    # @param [Hash] opts the optional parameters
    # @option opts [DriverAssignment] :driver_assignment Driver Assignment
    # @return [DriverAssignment]
    def update(policy_activity_id, driver_assignment_id, opts = {})
      data, _status_code, _headers = update_with_http_info(policy_activity_id, driver_assignment_id, opts)
      data
    end

    # Update A Driver Assignment
    # @param policy_activity_id Policy Activity Id
    # @param driver_assignment_id Driver Assignment Id
    # @param [Hash] opts the optional parameters
    # @option opts [DriverAssignment] :driver_assignment Driver Assignment
    # @return [Array<(DriverAssignment, Fixnum, Hash)>] DriverAssignment data, response status code and response headers
    def update_with_http_info(policy_activity_id, driver_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DriverAssignmentsApi.update ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling DriverAssignmentsApi.update"
      end
      # verify the required parameter 'driver_assignment_id' is set
      if @api_client.config.client_side_validation && driver_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'driver_assignment_id' when calling DriverAssignmentsApi.update"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/driverassignments/{driverAssignmentId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'driverAssignmentId' + '}', driver_assignment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'driver_assignment'])
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DriverAssignment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DriverAssignmentsApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
