=begin
#Policy API

#This API manages interactions with the policy management system.

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.9

=end

require 'uri'

module PolicyAPI
  class VehiclesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :vehicle vehicle info
    # @return [Vehicle]
    def create(policy_activity_id, opts = {})
      data, _status_code, _headers = create_with_http_info(policy_activity_id, opts)
      data
    end

    # Create a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :vehicle vehicle info
    # @return [Array<(Vehicle, Fixnum, Hash)>] Vehicle data, response status code and response headers
    def create_with_http_info(policy_activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehiclesApi.create ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling VehiclesApi.create"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/vehicles'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'basic_info'])
      auth_names = opts[:auth_names] || ['Bearer']

      # return_type
      return_type = opts[:return_type] || 'Vehicle'

      new_options = opts.merge(
          :header_params => header_params,
          :query_params => query_params,
          :form_params => form_params,
          :body => post_body,
          :auth_names => auth_names,
          :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)

      # data, status_code, headers = @api_client.call_api(:POST, local_var_path,
      #   :header_params => header_params,
      #   :query_params => query_params,
      #   :form_params => form_params,
      #   :body => post_body,
      #   :auth_names => auth_names,
      #   :return_type => 'Vehicle')

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehiclesApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(policy_activity_id, vehicle_id, opts = {})
      delete_with_http_info(policy_activity_id, vehicle_id, opts)
      nil
    end

    # Delete a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(policy_activity_id, vehicle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehiclesApi.delete ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling VehiclesApi.delete"
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling VehiclesApi.delete"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/vehicles/{vehicleId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'vehicleId' + '}', vehicle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehiclesApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a vehicle using Policy Activity Id and Vehicle Id
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @return [Vehicle]
    def get(policy_activity_id, vehicle_id, opts = {})
      data, _status_code, _headers = get_with_http_info(policy_activity_id, vehicle_id, opts)
      data
    end

    # Gets a vehicle using Policy Activity Id and Vehicle Id
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Vehicle, Fixnum, Hash)>] Vehicle data, response status code and response headers
    def get_with_http_info(policy_activity_id, vehicle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehiclesApi.get ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling VehiclesApi.get"
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling VehiclesApi.get"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/vehicles/{vehicleId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'vehicleId' + '}', vehicle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Vehicle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehiclesApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all vehicles for policy
    # @param policy_activity_id policy activity id
    # @param [Hash] opts the optional parameters
    # @return [Array<VehicleSummary>]
    def get_all(policy_activity_id, opts = {})
      data, _status_code, _headers = get_all_with_http_info(policy_activity_id, opts)
      data
    end

    # Get all vehicles for policy
    # @param policy_activity_id policy activity id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VehicleSummary>, Fixnum, Hash)>] Array<VehicleSummary> data, response status code and response headers
    def get_all_with_http_info(policy_activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehiclesApi.get_all ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling VehiclesApi.get_all"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/vehicles'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VehicleSummary>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehiclesApi#get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :vehicle vehicle info
    # @return [Vehicle]
    def update(policy_activity_id, vehicle_id, opts = {})
      data, _status_code, _headers = update_with_http_info(policy_activity_id, vehicle_id, opts)
      data
    end

    # Update a vehicle on a policy
    # @param policy_activity_id policy activity id
    # @param vehicle_id vehicle id
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :vehicle vehicle info
    # @return [Array<(Vehicle, Fixnum, Hash)>] Vehicle data, response status code and response headers
    def update_with_http_info(policy_activity_id, vehicle_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehiclesApi.update ...'
      end
      # verify the required parameter 'policy_activity_id' is set
      if @api_client.config.client_side_validation && policy_activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_activity_id' when calling VehiclesApi.update"
      end
      # verify the required parameter 'vehicle_id' is set
      if @api_client.config.client_side_validation && vehicle_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_id' when calling VehiclesApi.update"
      end
      # resource path
      local_var_path = '/v1/policy_activities/{policyActivityId}/vehicles/{vehicleId}'.sub('{' + 'policyActivityId' + '}', policy_activity_id.to_s).sub('{' + 'vehicleId' + '}', vehicle_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'vehicle'])
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Vehicle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehiclesApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
